# your namespace
namespace: just-another-kahoot-bot

# Your deployment name
deploymentName: just-another-kahoot-bot

# This is a good starting point
replicaCount: 3

# If you're using a local image, you can replace this
image:
  repository: feelfeel200088/just_another_kahoot_bot
  tag: master
  pullPolicy: Always

containerPort: 8000

# Single-threaded: so only needs 1 cpu
# I'm not too sure about memory limits, but I've never had issues with 500mi.
# Feel free to experiment with the memory and open an issue if you got problems 
# with 500mi or you think 500mi is to much.
resources:
  limits:
    memory: "8G"
    cpu: "1"

# put whatever you want for your pod port
service:
  port: 8000

internalService:
  enabled: true

# externalService:
#   enabled: true
#   nodePort: 30005
