# your namespace
namespace: just-another-kahoot-bot

# Your deployment name
deploymentName: just-another-kahoot-bot

# This is a good starting point
replicaCount: 3

# If you're using a local image, you can replace this
image:
  repository: feelfeel200088/just_another_kahoot_bot
  tag: dev
  pullPolicy: Always

containerPort: 8000

# Single-threaded: so only needs 1 cpu
# I'm not too sure about memory limits, but I've never had issues with 500mi.
# Feel free to experiment with the memory and open an issue if you got problems 
# with 500mi or you think 500mi is to much.
resources:
  limits:
    memory: "8G"
    cpu: "1"

# put whatever you want for your pod port
service:
  port: 8000

internalService:
  enabled: true

argo:
  enabled: true                     # turn Argo workflows on/off
  branch: "master"                   # default build branch
  repoUrl: "https://github.com/your/repo.git"
  # List of registries where the built image should be pushed
  dockerRegistries: 
   - feelfeel200088/just_another_kahoot_bot
   - 
    #harbor-registry.harbor.svc.cluster.local:5000/kahoot_bot

  # WARNING: creating the docker secret in the helm chart values is not recommended. 
  # Use the argo server UI or another secure way to store and accses your credentials. 
  createDockerSecret: false           # If true, Helm creates the secret. If not true you provide the secret.
  dockerSecretName: dockerhub-secret # Name of the secret to create. If not true this is the secret that you have allready created.
  dockerUsername: ""        # Only used if creating
  dockerPassword: ""        # Only used if creating