name: Build & Deploy Docker Container (CI/CD)

on:
  push:     
    branches:
      - "**"
  pull_request:  
    branches:
      - "**"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install nix
        uses: cachix/install-nix-action@v26
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Get in dev shell
        run: nix develop --command pytest -v
